extends ./layouts/default.jade

append content
	body.sanFran
	.container
		.row
			.profileWhiteDiv.col-md-6.col-sm-6.col-xs-12
				h1 #{member.username}
				img.profileImg.img-responsive(src=member.IDImage.large.url)

append footer
