extend ./layouts/default.jade

block content
	body.bkimg
		col-md-3
			.container
				.landingPage
					h1 ID photo successfully submitted - Awaiting approval by the admin.
					br
					input.btn#login(type='submit', value='Please Log in with Facebook')

append footer
	script(src="/scripts/login.js")