extends ./layouts/default.jade
mixins /mixins.jade

block content
	.row
		.col-md-12
			.uploadPage(style="align:center")
				label#uploadID(action="/upload", method="POST", enctype="multipart/form-data")
					span#uptext Please upload your ID (Drivers License and Passports only)
					br
					br
					input(name="uploadedID", id="uploadedID", class='uploadedID', type="file", onchange="loadImg(this)", accept="image/gif, image/jpeg, image/png")
				br
				.row
					.col-md-12
						img#previewID(src="/img/idthief.png" height="400" width="400")
				br
				br
				.row
					.col-xs-12.col-sm-4
						input#submit.form-control(type="submit", value="Submit", class='no-border')


	script(src="/scripts/upload.js")