extends ./layouts/default.jade
mixins /mixins.jade

block content
	body.london
		.container
			.row
				.whiteDiv.col-md-6.col-sm-8.col-xs-12
					#uploadText
						h1.username Hi #{member.username}
						p#uptext Please upload your ID (Driving License OR Passport only)
						form#uploadID(action="/api/image", method="POST", enctype="multipart/form-data")
							input(name="uploadedIDname", id="uploadedID", class='uploadedID', type="file", onchange="loadImg(this)", accept="image/gif, image/jpeg, image/png", capture="camera", id="cameraInput", name="cameraInput")
							#loading(style='display:none;')
								img(src='/img/loading.gif', alt='Processing...')
						br
						.row
							.col-md-12.col-sm-12.col-xs-12
								img.img-responsive#previewID(src="/img/idpreview.png" height="260" width="420")
						br
						.row
							.col-md-12.col-sm-12.col-xs-12
								input#submitID.form-control(type="submit", value="Submit", class='no-border', onclick="$('#loading').show()")
									



append footer
	script(src="/scripts/upload.js")