extends ./layouts/default.jade
mixins /mixins.jade

block content
	.row
		.col-md-12
	#greyback
		.row
			.col-md-12
				form(action="/upload", method="POST", enctype="multipart/form-data")
					label#uploadID
						span#uptext Please upload your ID (Drivers License and Passports only)
						input(name="uploadedID", id="uploadedID", class='uploadedID', type="file", onchange="loadImg(this)", accept="image/gif, image/jpeg, image/png")
					br
					.row
						.col-md-3
							img#previewID(src="/img/idthief.png" height="250" width="250")

					.row
						.col-xs-12.col-sm-4
							input#submit.form-control(type="submit", value="Submit", class='no-border')


		script(src="/scripts/upload.js")