/*-------General--------*/

/*-------Navbar-----*/

/*------Upload------*/

.uploadPage {
    display:block;
    float:none;
}

#submitID {
	display: block;
	margin: auto;
}

/*--------footer---------*/
