/*-------General--------*/

.bkimg {
	 background: url(/../img/kiwi-background2.png) no-repeat center fixed; 
	 background-size: cover;
}


#login {
	background-color: #396bbc;
	color: #fff;
}

/*-------Navbar-----*/

.navbar.navbar-default {
	background-color: transparent;
	border: none;
}

/*-------Admin-------*/


/*------Upload------*/

.london {
	background: url(/../img/london.png) no-repeat center center fixed; 
	background: cover;
}

.uploadPage {
    display:block;
    float:none;
}

#submitID {
	display: block;
	margin: auto;
}

.whiteDiv {
	background-color: white;
	width: 40%;
	height: 500px;
	border-radius: 8px;
}

/*--------footer---------*/
