/*-------General--------*/

.bkimg {
	background: url(/../img/kiwi-background2.png) no-repeat center fixed; 
	background-size: cover;
}


#login {
	background-color: #396bbc;
	color: #fff;
}

body {
	font-family: 'Raleway', sans-serif;
}

/*-------Navbar-----*/

.navbar.navbar-default {
	background-color: transparent;
	border: none;
}

/*
.navbar-default {
	background-color: #2c2e2f;
	border: none;
	padding: 20px;
}
*/

ul.nav.nav-pills.coyote a {
	background-color: #d8d9d9;
	color: #2c2e2f;
}


/*-------Admin-------*/

.modalImg {
	margin: 15px;
}

.modal-header {
	background-color: #55C9A6;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


/*------Upload------*/

.london {
	background: url(/../img/london.png) no-repeat center center fixed; 
	background: cover;
}

.uploadPage {
    display:block;
    float:none;
}

#submitID {
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

.whiteDiv {
	background-color: white;
	max-height: 520px;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 50px;
}


/*
.form-control {
	display: block;
}
*/


/*--------footer---------*/


/*--------profile---------*/

.username {
	margin: 8px;
}

.sanFran {
	background: url(/../img/sf.png) no-repeat center center fixed; 
	background-size: cover;
}

.profileWhiteDiv {
	background-color: white;
	max-height: 540px;
	border-radius: 8px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 50px;
/*
	-webkit-box-shadow: 10px 10px 3px -4px rgba(66,65,66,0.51);
-moz-box-shadow: 10px 10px 3px -4px rgba(66,65,66,0.51);
box-shadow: 10px 10px 3px -4px rgba(66,65,66,0.51);
*/
}

#profileID {
	margin-bottom: 10px;
}


.success {
	margin-left: 30px;
/*
	color: lightgrey;
	background-color: #29b182;
	width: 50%;
	border-radius: 10px;
*/
}