.container
	.row
		.navbar.navbar-default
			ul.nav.nav-pills.coyote
				li.active(role='presentation')
					a(href='/') Home
				li.active(role='presentation')
					a(href='/profile') Profile
				li.active.pull-right(role='presentation')
					a(href='/logout') Logout